# mypy
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode

# 不上传数据
/0-dataset
/2-stance_detection/state_dict
/2-stance_detection/dat
/2-stance_detection/logs/*.log
/2-stance_detection/logs/*.out
/3-TextGCN/data
/3-TextGCN/logs
/3-TextGCN/extract_topic/temp
/4-BertGCN/data
/4-BertGCN/logs
/5-prompt/pkl
/5-prompt/logs
/pretrained_models
/temp